@charset "utf-8";

body {
  background-color: #f9f9f9;
  font-family: Arial;
  padding: 10px;
}
.header {
  padding: 30px;
  text-align: center;
  background: #f9f9f9;
}
.header h1 {
  font-size: 50px;
}

.valikko {
  overflow: hidden;
  background-color: #425c45;
}

.valikko a {
  float: right;
  display: block;
  color: #faf0e6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.valikko a:hover {
  background-color: #f9f9f9;
  color: #425c45;
}


h1 {
  color: rgb(34, 69, 163);
}
p {
  color: rgb(0, 0, 0);
}
article {
  background-color: #b6c7a7;
  border-style: dotted;
  border-width: 2px;
  width:65%;
  padding-left: 10px;
  padding-right: 10px;
}
#Padelkuva {
  float: right;
  width: 300px;
  height: auto;
  
}
#Frisbeeg {
  float: right;
  width: 300px;
  height: auto;
}
#tae {
  float: right;
  width: 300px;
  height: auto;
}